.gi-tcg-card-data-viewer {

  height: 100%;
  width: 100%;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: darkgoldenrod;
    border: 3px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
  }
}

.card-panel {
  --at-apply: pointer-events-auto max-h-100% overflow-auto bg-yellow-1 b-yellow-8 text-yellow-9 b-solid b-1 rounded-md p-2 w-80 relative;
}
